html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: gray;
}
header {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: 100px;
  font-size: 2rem;
}
.title-container {
  border: 2px solid black;
  background-image: url("../assets/home.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-size: cover;
  text-align: center;
  height: 75vh;
  margin-bottom: 50px;
}
.title-container h1 {
  font-size: 5rem;
  margin-top: 240px;
}
.title-container button {
  margin-top: 50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 1.4rem;
  border-radius: 10px;
  color: gray;
}
.artists-container {
  display: flex;
  border: 3px solid black;
  justify-content: space-evenly;
  text-align: center;
}
.artists-container img {
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
  background-size: cover;
  border: 2px solid magenta;
}
.artists-container .artist {
  font-size: 1.3rem;
  width: 30%;
  border: 2px solid red;
}
.artists-container a {
  border: 2px solid blue;
  font-size: 1.6rem;
  text-align: center;
}
.artists-container .bio {
  margin-top: 30px;
}
