.title-container{
    border:2px solid black;
    background-image: url("../assets/home.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-size: cover;
    text-align: center;
    height:75vh;
    margin-bottom: 50px;
    h1{
        font-size: 5rem;
        // border:2px solid green;
        margin-top: 240px;
    }//this closes h1
    button{
        margin-top: 50px;
        cursor: pointer;
        width:200px;
        height:50px;
        font-size: 1.4rem;
        border-radius: 10px;
        color:@link-color;
    }//this closes button
}// this close .title-container    

.artists-container{
    display:flex;
    border: 3px solid black;
    justify-content: space-evenly;
    text-align: center;
    img{
        width:  400px;
        height: 350px;
        margin-bottom: 20px;
        background-size: cover;
        border:2px solid magenta;
    }//this closes img
    .artist{
        font-size: 1.3rem;
        width:30%;
        border:2px solid red;
    }//this closes .artist
    a{
        border:2px solid blue;
        font-size: 1.6rem;
        text-align: center;
    }
    .bio{
        margin-top: 30px;
    }
}//this closes .artists-container